/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  color: #365984;
  font-size: 16px; 
  padding-top: 75px;
}
img{
  max-width: 100%;
}
  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif; 
  color: #222;
  margin-top: 0px; 
  font-weight: 800; 
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 .padding{
   padding-right: 0;
 }
a{
  text-decoration: none;
}





.custom-radios div {
  display: inline-block;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 25px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}


.custom-radios input[type=radio]#color-1 + label span {
  background-color: #2ecc71;
}
.custom-radios input[type=radio]#color-2 + label span {
  background-color: #3498db;
}
.custom-radios input[type=radio]#color-3 + label span {
  background-color: #f1c40f;
}
.custom-radios input[type=radio]#color-4 + label span {
  background-color: #e74c3c;
} 
.custom-radios input[type=radio]#color-5 + label span {
  background-color: #01060a;
}
.custom-radios input[type=radio]#color-6 + label span {
  background-color: #1fcfb2;
}
.custom-radios input[type=radio]#color-7 + label span {
  background-color: #f11e0f;
}
.custom-radios input[type=radio]#color-8 + label span {
  background-color: #2a2c8f;
}

.custom-radios input[type=radio]#color-9 + label span,
.custom-radios input[type=radio]#color-17 + label span,
.custom-radios input[type=radio]#color-25 + label span {
  background-color: #2ecc3b;
}
.custom-radios input[type=radio]#color-10 + label span,
.custom-radios input[type=radio]#color-18 + label span,
.custom-radios input[type=radio]#color-26 + label span {
  background-color: #084772;
}
.custom-radios input[type=radio]#color-11 + label span,
.custom-radios input[type=radio]#color-19 + label span,
.custom-radios input[type=radio]#color-27 + label span {
  background-color: #584805;
}
.custom-radios input[type=radio]#color-12 + label span,
.custom-radios input[type=radio]#color-20 + label span,
.custom-radios input[type=radio]#color-28 + label span {
  background-color: #663934;
} 
.custom-radios input[type=radio]#color-13 + label span,
.custom-radios input[type=radio]#color-21 + label span,
.custom-radios input[type=radio]#color-29 + label span,
.custom-radios input[type=radio]#color-33 + label span{
  background-color: #3d0453;
}
.custom-radios input[type=radio]#color-14 + label span,
.custom-radios input[type=radio]#color-22 + label span,
.custom-radios input[type=radio]#color-30 + label span {
  background-color: #cf1f77;
}
.custom-radios input[type=radio]#color-15 + label span,
.custom-radios input[type=radio]#color-23 + label span,
.custom-radios input[type=radio]#color-31 + label span {
  background-color: #380a07;
}
.custom-radios input[type=radio]#color-16 + label span,
.custom-radios input[type=radio]#color-24 + label span,
.custom-radios input[type=radio]#color-32 + label span {
  background-color: #171729;
}






.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}




 
/* default-css END 
================================== */
 


.header-area {
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99; 
  background: #fff;
}
.logo-area a {
  display: block;
  max-width: 200px;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 16px;
  color: #000; 
  display: inline-block;
  margin-left: 50px;
  position: relative;
  transition: .3s;
}
.menu-area nav ul li a.theme-btn {
  color: #fff;
}
.menu-area nav ul li a:hover{
  color: #E03713;
}
a.theme-btn {
  background: #895bfc;
  display: inline-block;
  padding: 0 35px;
  height: 45px;
  color: #ffffff;
  line-height: 42px;
  border-radius: 8px; 
  transition: .3s;
}
a.theme-btn:hover{
  background: #7325ef;
  color: #fff !important;
}
/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: #222;
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #222;bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: #222;bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #ffffff;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 65px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu img.logos {
  max-width: 160px;
  margin-top: -85px;
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  color: #272835;
  font-size: 16px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu nav ul li a:hover { 
  color: #ff4900;
}

.mobile-menu ul#pills-tab li {
  display: inline-block;
}

.mobile-menu ul#pills-tab li a {
  color: #272835;
  font-size: 15px;
} 
.mobile-menu a.theme-btn {
  margin-top: 31px;
  margin-left: 0;
  height: 45px;
  line-height: 45px;
  color: #fff;
}
.mobile-menu .user a {
    display: block;
    width: 100%;
    padding: 0;
    color: #272835;
    line-height: 40px;
    font-size: 16px;
}

.mobile-menu .user {
    display: block;
}

.mobile-menu .user a:hover {
    background: none;
    opacity: .5;
}
.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  background: #ff4900;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
  box-shadow: 0px 0px 17px -2px #0000004a;
}

 

/* Header-area END && Hero-area STARTED  */
 

main{
  overflow: hidden;
}
.hero-wrp h1 {font-size: 44px;}

.hero-wrp ul {
    display: flex;
    align-items: center;
}
.hero-wrp ul li:last-child a {
  margin-left: 20px;
  text-decoration: underline;
  color: #ff4900;
}
.hero-imgs {
  text-align: right;
  margin-right: -60px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.hero-btns ul li {
  display: inline-block;
}
.hero-btns {
  margin-top: -95px;
}

.hero-btns ul li a {
  padding: 0 45px;
  height: 55px;
  line-height: 54px;
}
.hero-wrp h1 span {
  display: block;
}
.hero-wrp h1 {
  font-size: 62px;
  margin-bottom: 20px;
}
.hero-wrp p {
  margin-bottom: 20px;
}
.hero-btns ul li a.theme-btn.orange_color {
  background: #ff4900;
}
.hero-btns ul li a.theme-btn.yDark_color {
  background: #964A0B;
}
 
 

/* Hero-area END && Hero-area STARTED  */
 



.icon-blk {
  display: block;
  transform: scale(.7);
  transition: .3s;
}

.owl-item.active.center .icon-blk {transform: scale(1);}
.search form {
  display: flex;
  align-items: center;
  border: 1px solid #7742e1;
  border-radius: 100px;
  padding: 5px;
  justify-content: space-between;
  overflow: hidden;
}

.search form img {
  width: 30px;
  margin-left: 20px;
  margin-right: 30px;
}

.search form span {
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 100%;
  color: #333;
  font-weight: 500;
}

.search form input {
  padding: 0;
  border: none;
  background: none;
}

.search form button {
  border: none;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #7325ef;
  display: block;
  min-width: 50px;
  font-size: 28px;
  color: #fff;
}
.search form button:hover{
  background: #895bfc;
}
.search p {
  text-align: center;
  margin: 0;
  font-weight: 600;
  color: #7325ef;
  margin-top: 20px;
  font-size: 18px;
}

.search p a {
  color: #222;
  text-decoration: underline;
  margin-left: 10px;
  font-weight: 500;
}

.search {
  margin-top: 100px;
}

.social_and_search_area {
  padding: 100px 0;
}



/* Social_and_search_area END and Fetures_area START */



.fetures_blk {
  margin-bottom: 100px;
}

.feture-wrp{
  position: relative;
}
.feture_img {
  text-align: left;
}

.feture-wrp h4 {
  font-weight: 700;
  position: relative;
  width: max-content;
  margin-bottom: 15px;
}

.feture-wrp h4:after {content: "";position: absolute;width: 105%;height: 8px;background: #D9C5FF;bottom: 0;left: -5px;border-radius: 100px;z-index: -1;}

.feture-wrp  p {
  margin-bottom: 35px;
}

a.theme-btn.gredient {
  background: linear-gradient(90deg,#5411aa 0,#895bfc);
  display: flex;
  align-items: center;
  width: max-content;
  height: 55px;
  justify-content: center;
}
a.theme-btn.gredient i {
  margin-left: 10px;
  transition: .3s;
  font-size: 24px;
}
a.theme-btn.gredient:hover i {
  margin-left: 20px;
}
.feture-wrp img {
  position: absolute;
  max-width: 20px;
}

.feture-wrp  img.first_shap {
  max-width: 30px;
  right: 0;
  top: -50px;
}

.feture-wrp img.second_shap {
  right: -80px;
  top: 50%;
}

.feture-wrp img.last_shap {
  bottom: -80px;
  left: 40%;
}
.feture-wrp.right-mode img.first_shap {
  right: auto;
  left: -100px;
  top: auto;
  bottom: -40px;
}

.feture-wrp.right-mode img.second_shap {
  right: auto;
  left: -100px;
  top: -60px;
}

.feture-wrp.right-mode  img.last_shap {
  left: 50%;
}
.getLink {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 150px;
}

.getLink a.theme-btn {
  margin: auto;
  width: 300px; 
  height: 60px; 
} 

.getLink h2 {
  font-weight: 600;
  margin-bottom: 30px;
}


/* Footer-area */




footer {
  background: #212121;
  padding: 60px 0;
  padding-bottom: 100px;
}

.footer-wrp {
  display: flex;
  justify-content: space-between;
}

.footer-left a.flogo {
  display: block;
  max-width: 170px;
  margin-bottom: 20px;
}

.footer-left {
  color: #8c8c8c;
}

.footer-left .social_ico {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.footer-left .social_ico a {
  margin-left: 10px;
  font-size: 22px;
  transition: .3s;
}

.footer-left .social_ico a:hover {
  color: #fff;
}
.footer-right h4 {
  color: #fff;
}

.footer-right {
  color: #8c8c8c;
}

.footer-right  a {
  display: block;
  margin-bottom: 4px;
  font-size: 15px;
  transition: .3s;
}

.footer-right a:hover {
  color: #5f20bb;
}
.dropdown button {
  border: none;
  padding: 0;
  background: none;
  font-size: 14px;
  margin-top: 15px;
}
ul.dropdown-menu li {
  font-size: 14px;
  padding: 5px 10px;
  transition: .3s;
  color: #333;
  cursor: pointer;
}

ul.dropdown-menu li:hover {
  color: #5c1cb6;
}
.feature-btns {
  display: flex;
}
.feature-btns a:last-child{
  display: none;
  margin-left: 10px;
} 




  


/* Footer end And Cookie area START */

 


.cookie_permission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  background: #424851;
  z-index: 99;
}

.cookie_permission p {
  margin: 0;
}

.cookie_permission p a {
  color: #0d6efd;
}

.cookie_permission  a.theme-btn {
  border: none;
  border-radius: 0;
  height: 41px; 
  width: 105px;
  text-align: center;
  padding: 0;
}
.modal-footer button {
 display: block;
 margin: auto;
 padding: 7px 30px;
 font-size: 20px;
 background: #0090ff;
 border: none;
}
.feture-area.two_btns .feature-btns a.theme-btn {
  margin-left: 0;
  margin-right: 5px;
}

 
 
 
/* Dark mode code */

body.dark {
  background: #1F1D2C;
  color: #fff;
}
body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 { 
  color: #fff; 
}
body.dark .search p a ,
body.dark .search form input,
body.dark .search form span{
  color: #fff;
}
body.dark .modal-header {
  background: #222121;
  border-color: #666666;
}

body.dark  .modal-body {
  background: #000;
}

body.dark .modal-footer {
  background: #222121;
  border-color: #666666;
  text-align: center;
}
body.dark .modal-header button.btn-close { 
  filter: invert(1);
}
  







/* Profile Editor Page STARTED */

.user_bio {
  width: 90%;
  background: rgb(255 255 255 / 10%);
  border-radius: 20px;
  overflow: hidden;
}
.user_bio img {
  width: 100%;
  border-radius: 20px;
}
.user_bio a:after{
  content: "";
  position: absolute;
  top: 6px;
  right: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #31c031;
} 
.user_bio a {
  margin-left: 15px;
  display: block;
  font-size: 13px;
  color: #BFBFBF;
  margin-top: 15px;
  position: relative;
  width: max-content;
}

.user_bio p {
  font-size: 13px;
  color: #fff;
  max-width: 98%;
  padding: 15px;
  padding-right: 10px;
  padding-top: 10px;
}

.user_bio p span {
  opacity: .3;
  margin-right: 7px;
}
.topArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#upImgBlk {
  width: 230px;
  height: 60px;
  background: #323232;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #fff;
  cursor: pointer;
}

#upImgBlk input {
  opacity: 0;
}

#upImgBlk:after {
  content: "Upload Photo";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
button#editBio {
  border: none;
  background: #0f56b6;
  outline: none;
  padding: 10px 30px;
  border-radius: 3px;
}
.user_bio p b {
  font-weight: 600;
}
.headBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.headBar button {
  border: none;
  background: red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  outline: none;
}

.headBar span {
  font-size: 22px;
  text-transform: uppercase;
}

.addSection {
  padding: 35px;
  background: #363442;
  margin-top: 20px;
  border-radius: 10px;
}
.headBar button:last-child{
  background: #15CC72;
}
.fields input {
  box-shadow: none !important;
}
.fields .col-auto {
  margin: 10px 0;
}
ul.layoutStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  margin-top: 50px;
}

ul.layoutStyle li {
  max-width: 35px;
  margin: 0 5px;
  cursor: pointer;
}

ul.layoutStyle li:hover,ul.layoutStyle li.active {
  filter: invert(1);
}

.nameLink {
  padding: 10px 20px;
  width: 300px;
  margin: 35px auto;
  display: block;
  background: #989898;
  border-radius: 5px;
}
.nameLink span.tag {
  display: block;
  padding: 4px 15px;
  background: #15cc72;
  width: max-content;
  margin-top: 5px;
  border-radius: 5px;
}
ul.BottomList {
  display: flex;
  justify-content: center;
}

ul.BottomList li {
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  color: #15cc72;
}

ul.BottomList li span {
  display: block;
  width: 35px;
  height: 35px;
  background: #989898;
  color: #fff;
  line-height: 35px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 5px;
}
ul.layoutStyle li img{
  pointer-events: none;
}
ul.BottomList li.active span {
  background: #15cc72;
}
.nameLink[data-id="layout1"] {background: #000;}

.nameLink[data-id="layout1"] span.tag {
    display: none;
}

.nameLink[data-id="layout2"] {
    background: #fcfcfc;
}

.nameLink[data-id="layout2"] span.mainTitle {
    color: #333;
    font-weight: 600;
}

.nameLink[data-id="layout2"] span.tag {
    padding: 0;
    color: #333;
    background: none;
    font-weight: 600;
}

.nameLink[data-id="layout4"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addBlockHere .nameLink {
  width: 90%;
  margin: 0;
  margin-top: 20px;
}
button#settingOptions {
  height: 45px;
  border: none;
  width: 45px;
  border-radius: 50%;
  background: #15cc72;
  font-size: 20px;
  margin-left: 10px;
  outline: none;
}
.theSettings {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  background: #000000bf;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.theSettings.active {
  opacity: 1;
  visibility: visible;
}

.theSettings.active .settingBlk {
  margin-bottom: 0%;
}
.settingBlk {
  background: #ffffff;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: -40%;
  transition: .3s;
}
.settingBlk h5 {
  display: flex;
  width: 73%;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 600;
  padding: 20px;
  font-size: 22px;
}
.settingBlk h5 button {
  border: none;
  background: #15CC72;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  outline: none;
}

.accordion-item:first-of-type .accordion-button{
  border-radius: 0%;
}
.accordion-button:focus { 
  border: none; 
  box-shadow: none;
}
.settingBlk h5 span {
  color: #333;
}
.accordion-button:not(.collapsed) {
  color: #333;
  background-color: transparent;
}
.accordion-button{ 
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
  font-weight: 600;
}
.accordion-body h6 {
  color: #333 !important;
  font-weight: 600;
  font-size: 16px;
}
.innerAccorContent {
  padding-left: 15px;
  padding-bottom: 15px;
}
.innerAccorContent .custom-radios div {
  margin-bottom: 5px;
}
label.csLink {
  display: flex;
  align-items: center;
  border: 1px solid #dfdfdf;
  width: max-content;
  border-radius: 3px;
  color: #919191;
  padding: 10px;
  padding-left: 15px;
}

label.csLink input[type="text"] {
  padding: 0;
  border: none;
  outline: none;
}
p.addLy {
  color: #333;
  display: flex;
  align-items: center;
}

p.addLy button {
  padding: 0;
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #333333;
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
}


















